body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

* {
  text-decoration: none;
  list-style: none;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 20px;
}